<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Spring MVC Annotation Home page</title>
	</head>
	<body>
	
		<h1>Spring MVC Annotation Tests</h1>
		<h2>Home Page</h2>
		<p th:text="${message}"/>
		<a href="/springmvc_annotation/1">Go to First Page</a>
		<a href="/springmvc_annotation/2">Go to Second Page</a>
		<a href="/springmvc_annotation/second/about">Go to About Page</a>
		<p><a href="/springmvc_annotation/1?name=kiki">Go to First Page with name parameter</a></p>
		<p><a href="/springmvc_annotation/second/calc?a=5&action=/&b=2">Calculation of: 5 / 2</a></p>
		<p><a href="/springmvc_annotation/people">People List</a></p>
	</body>
</html>