<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring MVC Annotation Home page</title>
	</head>
	<body>
	
		<h1>Spring MVC Annotation Tests</h1>
		<h2>Home Page</h2>
		<p th:text="${message}"/>
		<a th:href="@{/1}">Go to First Page</a>
		<a th:href="@{/1?name=kiki}">Go to First Page with name parameter</a>
		<p><a th:href="@{/calc?a=5&action=/&b=2}">Calculation of: 5 / 2</a>
		<a th:href="@{/about}">Go to About Page</a></p>
		<p><a th:href="@{/people}">People List</a></p>
	</body>
</html>